html{
	height: 100%
}
body{
	height: 100%;
	background-color:white;
	overflow-y: hidden;

}
.container{
    display: flex;
	justify-content: center;
}
.div-flogin{

}
.formulario-login{
    margin-bottom: 0px;
}
.formulario-login p{
    margin-bottom: 0px;
}
.vertical-center {
  min-height: 100%; /
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: none;
}
.boton-ingresar{
display: flex;
justify-content: center;
margin: auto;
}
