html{
	height: 100%
}
body{
	height: 100%;
	background-color:white;
	font-family: 'Raleway', sans-serif;
}
.vertical-center {
  height: 80%; /
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: none;
}
.container-fluid{
    width: 100%;
    height: 88%;
}

/*NAVBAR*/
.navbar{
    padding: 10px 0px;
    border:0px;
    border-left: 20px solid #338a9b;
    background-color: #edfcff;
    height: 80px;
}
.selected{
    border-radius: 20px;
    border-bottom: 2px solid #338a9b;
    border-right: 2px solid #338a9b;
}
.navbar-right>li>a:hover{
    text-decoration: underline;
}
.navbar .fa{
    margin-right: 5px;
}
/*SUBJECT BUTTON*/
.subject-button{
    display: flex;
    justify-content: center;
}
.subject-button button{
    height: 30vh;
    width: 70%;
    border-radius: 80px;
    margin: 20px 0px;
}
.subject{
    background-size: cover;
    opacity: 0.75;
}
.a1{
    background: url("/static/educando/img/biologia.jpg");
    background-size: cover;
}
.a2{
    background: url("/static/educando/img/educacion_fisica.jpg");
    background-size: cover;
}
.a3{
    background: url("/static/educando/img/etica.png");
    background-size: cover;
}
.a4{
    background: url("/static/educando/img/geografia.jpg");
    background-size: cover;
}
.a5{
    background: url("/static/educando/img/ingles.jpg");
    background-size: cover;
}
.a6{
    background: url("/static/educando/img/literatura.jpg");
    background-size: cover;
}
.a7{
    background: url("/static/educando/img/matematicas.jpg");
    background-size: cover;
}
.a8{
    background: url("/static/educando/img/tecnologia.jpg");
    background-size: cover;
}

.subject p{
    float: left;
    position: absolute;
    top: 30;
    margin-left: 20px;
    color: white;
    font-size: 25px;
    opacity: 1!important;
    border-radius: 40px;
    background-color: #338a9b;
    padding: 10px;

}
.subject:hover{
    opacity: 1;
}
button:focus{
    outline: none;
}

/*MARKS FILES TABLES*/
.marks, .files{
    height: 50%;
}