html{
	height: 100%
}
body{
	height: 100%;
	background-color:white;
	overflow-y: hidden;
	font-family: 'Raleway', sans-serif;
}

/*NAVBAR*/
.navbar{
    padding: 10px 0px;
}
.selected{
    border-radius: 20px;
    background-color: #fccfcf;
}