{% extends 'educando/base.html'%}
{% load staticfiles%}
{% block css %}
    <link rel="stylesheet" href="{% static 'educando/css/maquetacion_login.css' %}">
{% endblock %}


{% block contenido %}
<div class="container vertical-center">

    <div class="div-flogin">
        <div class="titulo-ingresar">
            Educando
        </div>
        <form class="formulario-login" id="formulario" method="post" action="">
            {% csrf_token %}
            <table>{{formulario}}</table>

            <button type="submit" class="boton-ingresar">Entrar</button>
        </form>
    </div>
</div>

{% endblock %}