{% load staticfiles%}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'educando/css/font-awesome.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="{% static 'educando/css/maquetacion_login.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{% static 'educando/js/maquetacion_login.js' %}" ></script>
</head>
<body>
<div class="jumbotron vertical-center">
<div class="container">

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="titulo">
						<h2>IES Victoria</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<form class="formulario" id="formulario" method="post" action="{% url 'ingresar' %}">
						{% csrf_token%}
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
								{{formulario.username}}
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
								{{formulario.password}}
							</div>
						</div>

						<button type="submit" class="btn btn-primary center-block">Entrar</button>
					</form>
				</div>
			</div>
		</div>

{% if messages %}
		<div class="row">
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		</div>
	{% endif %}
</div>
</body>


</html>