{% extends 'educando/base.html'%}
{% load staticfiles%}
{% block css %}
<link rel="stylesheet" href="{% static 'educando/css/maquetacion_admin_usu.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'educando/js/maquetacion_admin.js' %}"></script>
{% endblock %}

{% block contenido %}
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IES Victoria</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="selected"><a href="#">Inicio</a></li>
                <li><a href="{% url 'agenda_base' %}">Agenda</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-user"></i> {{usuario}}</a></li>
                <li><a href="{% url 'ingresar' %}"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron vertical-center">
      <div class="container-fluid container-buttons">
          <div class="row">
              <div class="col-md-6 perfil-button">
                  <button type="submit" class="user teacher" data-href="{% url 'tabla_prof' %}">
                      <p>Profesores</p>
                  </button>
              </div>
              <div class="col-md-6 perfil-button">
                  <button type="submit" class="user children" data-href="{% url 'tabla_alumnos' %}">
                      <p>Alumnos</p>
                  </button>
              </div>
          </div>

      </div>

</body>


{% endblock %}