{% extends 'educando/base.html'%}
{% load staticfiles%}
{% block css %}
<link rel="stylesheet" href="{% static 'educando/css/maquetacion_admin_usu.css' %}">
{% endblock %}
{% block js %}
{% endblock %}

{% block contenido %}
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IES Victoria</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="selected"><a href="#">Inicio</a></li>
                <li><a href="{% url 'agenda_base' %}">Agenda</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-user"></i> {{usuario}}</a></li>
                <li><a href="{% url 'ingresar' %}"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron vertical-center">
      <div class="container-fluid container-buttons">
          <div class="row">
              <div class="col-md-6 perfil-button">
                  <button class="teacher">
                      <p>Profesores</p>
                  </button>
              </div>
              <div class="col-md-6 perfil-button">
                  <button class="children">
                      <p>Alumnos</p>
                  </button>
              </div>
          </div>

      </div>
    <!-- Modal
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_user">
      Nuevo usuario
    </button>
    <div class="modal fade" id="create_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row row-header">
              <i class="fa fa-user"></i> <h4 class="modal-title" id="exampleModalLabel">Modal title</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
            </div>
          <div class="modal-body">
            <form id="formulario" method="post" action="{% url 'nuevo_usuario' %}">
                 {% csrf_token %}
                <table>{{formulario}}</table>
                <p><input id="registrar" class="clase" type="submit" value="Registrar"></p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>-->
    </div>
</body>


{% endblock %}